:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--Cream);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 450px;
  margin: 0 auto;
  background-color: var(--White);
  border-radius: 10px;
  margin-top: 68px;
}

img {
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text {
  padding: 37.69px;
}

.text > p:first-of-type {
  font-size: 12px;
  letter-spacing: 5px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: var(--Dark-grayish-blue);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text > h1 { 
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0;
  font-weight: 700;
  font-family: "Fraunces", serif;
  color: var(--Very-dark-blue);
  font-optical-sizing: 32px;
  margin-bottom: 20px;
}

.text > p:last-of-type {
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: var(--Dark-grayish-blue);
  margin-top: 20px;
  margin-bottom: 30px;
}

.pricing > span:first-of-type {
  font-size: 31px;
  line-height: 32px;
  font-weight: 700;
  font-family: "Fraunces", serif;
  color: var(--Dark-cyan);
}

.pricing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 19px;
}

.pricing > span:last-of-type {
  font-size: 13px;
  line-height: 23px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: var(--Dark-grayish-blue);
  text-decoration: line-through;

}

button {
  color: var(--White);
  background-color: var(--Dark-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-top: 30px;
}

button:hover {
  cursor: pointer;
  background-color: #1A4032;
}

@media screen and (max-width: 376px) {
  .container {
    margin-top: 28px;
    flex-wrap: wrap;
    width: 343px;
    height: auto;
  }
  img {
    height: 240px;
    width: 100%;
    border-radius: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }
}
